# 전처리

In [13]:
import pandas as pd

df=pd.read_csv('./../csv/hotel_all.csv')
df.drop(['Unnamed: 0'], axis = 1, inplace = True)
df.drop(['Unnamed: 0.1'], axis = 1, inplace = True)
df.tail(1)

,Hotel,Point,Country,member,Room type,Date,Review Title,Review Contents,Grade
36257,골든 파크 호텔 제주 (Golden Park Hotel Jeju),8.0,Lee (대한민국),나홀로 여행객,"룸 (싱글베드 2개, 금연)",2022년 12월 | 2박,가성비 좋은 호텔,['전반적으로 깨끗하고 뚜벅이 여행에 최고좋은 시외버스터미널이 걸어서 5분이라 제주...,1

In [14]:
# 결측치 확인

df.isnull().sum()

Hotel              0
Point              0
Country            1
member             0
Room type          0
Date               0
Review Title       4
Review Contents    0
Grade              0
dtype: int64

In [15]:
df['Review Title']=df['Review Title'].fillna('제목없음') # 제목 결측치 -> 제목없음
df['Country']=df['Country'].fillna('(대한민국)') # 결측치 국적 확인 후, 해당 국적으로 변경

In [17]:
df['member'].unique() # 맴버 확인

array(['나홀로 여행객', '커플/2인 여행객', '유아/아동 동반 가족 여행객', '그룹 여행객', '출장 여행객',
       '청소년 동반 가족 여행객', '디럭스 더블', '싱글 스탠다드룸'], dtype=object)

In [18]:
# '디럭스 더블', '싱글 스탠다드룸' 삭제

df=df.drop(index=df.loc[df.member == '싱글 스탠다드룸'].index)
df=df.drop(index=df.loc[df.member == '디럭스 더블'].index)

In [19]:
df['Point'].unique()

array(['10.0', '10.0 최고', '9.6', '9.2', '8.8', '8.4', '9.2 최고', '9.6 최고',
       '8.0', '7.6 매우 좋음', '8.4 우수', '7.2', '8.0 우수', '7.6', '7.2 좋음',
       '6.8', '6.8 양호', '6.4', '6.0', '5.6', '4.8', '5.2', '6.4 양호',
       '4.4', '4.0', '3.2', '3.6', '2.8', '2.0', '8.7 우수', '8.7', '2.4',
       '8.8 우수', '9.0', '4.3', '8.3', '7.0', '9.3', '7.3', '6.3',
       '9.3 최고', '6.7 양호', '9.7 최고', '7.0 좋음', '3.7', '7.7 매우 좋음', '7.7',
       '2.3', '9.0 최고', '5.0', '9.7', '6.3 양호', '4.7', '6.7', '5.3',
       '3.0', '5.7', '8.3 우수', '7.3 좋음', '2.7', '9.5', '3.3', '9.5 최고',
       '5.5', '7.5'], dtype=object)

In [21]:
#point 숫자만 가져와서 float형으로 변경 ex) 6.3 양호

df['Point']=df['Point'].str.split(' ').str[0]
df['Point']=df['Point'].astype('float')

In [23]:
# 날짜에서 년, 월 분리

df['Year']=df['Date'].str.split(' ').str[0]
df['Month']=df['Date'].str.split(' ').str[1]

df.head(1)

,Hotel,Point,Country,member,Room type,Date,Review Title,Review Contents,Grade,Year,Month
0,메종 글래드 제주 (Maison Glad Jeju),10.0,Seung-hye (대한민국),나홀로 여행객,스탠다드 트윈,2021년 5월 | 3박,기대보다 좋았어요,['시설이 낡았다는 후기를 보고 별 기대없이 갔는데 3박동안 행복하게 보내고 왔습니...,5,2021년,5월

In [24]:
# stay_day 
df['stay_day']=df['Date'].str.split(' ').str[3]
df['stay_day']=df['stay_day'].str.extract(r'(\d+)')  # 숫자만
df['stay_day']=df['stay_day'].astype('int')

df.head(1)

,Hotel,Point,Country,member,Room type,Date,Review Title,Review Contents,Grade,Year,Month,stay_day
0,메종 글래드 제주 (Maison Glad Jeju),10.0,Seung-hye (대한민국),나홀로 여행객,스탠다드 트윈,2021년 5월 | 3박,기대보다 좋았어요,['시설이 낡았다는 후기를 보고 별 기대없이 갔는데 3박동안 행복하게 보내고 왔습니...,5,2021년,5월,3

In [25]:
df.reset_index(drop=True,inplace=True)
df.tail(1)

,Hotel,Point,Country,member,Room type,Date,Review Title,Review Contents,Grade,Year,Month,stay_day
36255,골든 파크 호텔 제주 (Golden Park Hotel Jeju),8.0,Lee (대한민국),나홀로 여행객,"룸 (싱글베드 2개, 금연)",2022년 12월 | 2박,가성비 좋은 호텔,['전반적으로 깨끗하고 뚜벅이 여행에 최고좋은 시외버스터미널이 걸어서 5분이라 제주...,1,2022년,12월,2

In [27]:
# 대한민국 국적만 가져오기 (36255 -> 30583 )
df=df[df['Country'].str.contains('대한민국')]
df.reset_index(drop=True,inplace=True)
df['Country']='대한민국'
df.tail(1)

,Hotel,Point,Country,member,Room type,Date,Review Title,Review Contents,Grade,Year,Month,stay_day
30583,골든 파크 호텔 제주 (Golden Park Hotel Jeju),8.0,대한민국,나홀로 여행객,"룸 (싱글베드 2개, 금연)",2022년 12월 | 2박,가성비 좋은 호텔,['전반적으로 깨끗하고 뚜벅이 여행에 최고좋은 시외버스터미널이 걸어서 5분이라 제주...,1,2022년,12월,2

In [28]:
# 컬럼 순서 변경

df=df[['Grade','Hotel','Country','Year','Month','stay_day','member','Room type', 'Date','Review Title','Review Contents','Point']]
df.tail(1)

,Grade,Hotel,Country,Year,Month,stay_day,member,Room type,Date,Review Title,Review Contents,Point
30583,1,골든 파크 호텔 제주 (Golden Park Hotel Jeju),대한민국,2022년,12월,2,나홀로 여행객,"룸 (싱글베드 2개, 금연)",2022년 12월 | 2박,가성비 좋은 호텔,['전반적으로 깨끗하고 뚜벅이 여행에 최고좋은 시외버스터미널이 걸어서 5분이라 제주...,8.0

In [29]:
# 년, 월 숫자만 (2022년 -> 2022)

import re

def text_num(text):
    hangul = re.compile('[^0-9]')
    result = hangul.sub('', text)
    return result

df['Year']=df['Year'].apply(lambda x : text_num(x))
df['Month']=df['Month'].apply(lambda x : text_num(x))


df['Month']=df['Month'].astype('int')
df['Year']=df['Year'].astype('int')
df.tail(1)

,Grade,Hotel,Country,Year,Month,stay_day,member,Room type,Date,Review Title,Review Contents,Point
30583,1,골든 파크 호텔 제주 (Golden Park Hotel Jeju),대한민국,2022,12,2,나홀로 여행객,"룸 (싱글베드 2개, 금연)",2022년 12월 | 2박,가성비 좋은 호텔,['전반적으로 깨끗하고 뚜벅이 여행에 최고좋은 시외버스터미널이 걸어서 5분이라 제주...,8.0

In [30]:
# 리뷰 한글만 나오게 전처리


import re

def text_cleaning(text):
    hangul = re.compile('[^ ㄱ-ㅣ가-힣]+')
    result = hangul.sub('', text)
    return result

df['Review Title']=df['Review Title'].apply(lambda x : text_cleaning(x))
df['Review Contents']=df['Review Contents'].apply(lambda x : text_cleaning(x))
df.head(1)

,Grade,Hotel,Country,Year,Month,stay_day,member,Room type,Date,Review Title,Review Contents,Point
0,5,메종 글래드 제주 (Maison Glad Jeju),대한민국,2021,5,3,나홀로 여행객,스탠다드 트윈,2021년 5월 | 3박,기대보다 좋았어요,시설이 낡았다는 후기를 보고 별 기대없이 갔는데 박동안 행복하게 보내고 왔습니다 새...,10.0

In [31]:
df.to_csv('./hotel.csv',index=0)